.#{$_prefix}l-header {
	background-color: #fff;

  .#{$_prefix}c-row {
    &,
    &__col {
      margin-bottom: 0;
    }
  }
}

/**
 * simple header
 */
.#{$_prefix}l-simple-header {
}

/**
 * 1row header
 */
.#{$_prefix}l-1row-header {
  .#{$_prefix}p-global-nav .#{$_prefix}c-navbar {
    &__item {
      flex: 0 1 auto;
    }
  }
}

/**
 * 2rows header
 */
.#{$_prefix}l-2row-header {
}

/**
 * centered header
 */
.#{$_prefix}l-center-header {
  .#{$_prefix}p-global-nav .#{$_prefix}c-navbar {
    justify-content: center;

    &__item {
      flex: 0 1 auto;
    }
  }
}
