.c-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__overlay,
  &__overlay-inner {
  	position: fixed;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	background-color: #000;
  }

  &__overlay {
  	visibility: hidden;

    &:target {
    	visibility: visible;
    }
  }

  &__overlay-inner {
  	z-index: 1;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 20px;

    :target & {
    	animation: 0.4s ease-out 0.2s both;
    	animation-name: galleryFadeIn;
    }
  }

  @keyframes galleryFadeIn {
  	from {
  		opacity: 0;
  	}

  	to {
  		opacity: 1;
  	}
  }

  &__image {
  	display: block;
  	max-width: 100%;
  	max-height: 100%;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-size: cover;
  }

  &__close-btn,
  &__prev-btn,
  &__next-btn {
  	position: absolute;
  	z-index: 3;
  	display: flex;
  	align-items: center;
  	justify-content: center;
    @include _square(60px);
  	overflow: hidden;
  	background-color: #222;
  	color: #fff;
  	text-decoration: none;
  }

  &__close-btn {
  	top: 0;
  	right: 0;
  }

  &__prev-btn {
  	top: 50%;
  	left: 0;
  	transform: translateY(-50%);
  }

  &__next-btn {
  	top: 50%;
  	right: 0;
  	transform: translateY(-50%);
  }

  @for $i from 1 through 9 {
    &--#{$i}-columns {
      .c-gallery__item {
        width: calc(100% / #{$i});
      }
    }
  }

  &__item {
  	flex: none;
  }

  .c-gallery__thumbnail {
    @include _background-image-cover();
  	display: block;
  	width: 100%;

    &::before {
    	content: '';
    	display: block;
    	padding: 75% 0 0;
    }
  }
}
