#wpadminbar {
	z-index: 1;
}

body {
	word-wrap: break-word;
	background-color: #fff;
}

h1 {
	margin: 0;
	font-weight: normal;
}

h2 {
	bs-margin(2, 0, 1, 0);
}

h3 {
	bs-margin(2, 0, 1, 0);
}

h4 {
	bs-margin(1.5, 0, 1, 0);
}

h5, h6 {
	bs-margin(1, 0, .5, 0);
}

input, textarea, keygen, select, button {
	font-size: 100%;
}
