/**
 * .wp-caption
 */
.wp-caption {
	bs-margin(0, 0, 1);
	border: none;
	text-align: left;
	background-color: transparent;
	padding: 0;
	border-radius: 0;
	max-width: 100%;

	&-text {
		color: bs-color-gray;
		margin-top: 5px;
		bs-font-size-line-height(12px);
		line-height: 1.4;
	}
}

/**
 * alignment
 */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Galleries
 */
.gallery {
	margin: 0;
	bs-margin(0, 0, 1);

	&-item {
		display: inline-block;
		padding: 1.79104477%;
		text-align: center;
		vertical-align: top;
		width: 100%;

		for i in 2..9 {
			.gallery-columns-{i} & {
				max-width: percentage(1 / i);
			}
		}
	}

	&-icon {
		img {
			margin: 0 auto;
		}
	}

	&-caption {
		display: block;

		.gallery-columns-6 &,
		.gallery-columns-7 &,
		.gallery-columns-8 &,
		.gallery-columns-9 & {
			display: none;
		}
	}
}

/**
 * Screen reader text
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
}

/**
 * .bypostauthor
 */
.bypostauthor {
	> .{bs-prefix}p-comment {
		> .{bs-prefix}p-comment__figure {
			bs-margin(0, 0, 0, 1);
			order: 1;
		}
	}
}

/**
 * Sticky post
 */
.sticky {
	.{bs-prefix}p-entry-summary {
		&__title {
			&::before {
				content: 'FEATURED';
				display: block;
				color: bs-color-gray;
				bs-font-size-line-height(bs-base-font-size-px - 2);
			}
		}
	}
}
