.{_prefix}p-breadcrumbs {
	_list-unstyled();
	_font-size-line-height(_base-font-size-px - 2);

	&, a {
		color: _color-gray;
	}

	a {
		text-decoration: underline;
	}

	&__item {
		margin: 0;
		display: inline;
		padding: 0;

		&::after {
			_margin(0, 5px);
		}

		&:nth-child(n + 2) {
			mimizuku-fa("\f105");

			&::before {
				_margin(0, 5px);
			}
		}
	}
}
