.{bs-prefix}p-drawer {
	@extend .{bs-prefix}c-drawer;

	&__body {
		z-index: 100000;
	}

	&__btn {
		z-index: 1;
	}

	&__menu {
		list-style: none;
		margin: 0;
		padding: (bs-base-line-height / 4) 0 0;
	}

	&__submenu {
		list-style: none;
		margin: 0;
		margin-right: bs-base-line-height * -1;
		padding-left: 1em;
	}

	&__item, &__subitem {
		position: relative;

		> a {
			transition: background-color bs-transition-duration bs-transition-function-timing;
			color: #fff;
			bs-font-size-line-height(14px);
			text-decoration: none;

			+bs-hover() {
				color: #ccc;
			}
		}
	}

	&__item {
		padding: (bs-base-line-height / 2) bs-base-line-height 0;
	}

	&__subitem {
		padding: (bs-base-line-height / 2) 0 0;
	}

	&__toggle {
		position: absolute;
		top: (bs-base-line-height / 2);
		right: 5px;
		bottom: 0;
		height: bs-base-line-height;
		width: bs-base-line-height;
		display: flex;
		align-items: center;
		justify-content: center;

		> .fa {
			color: #fff;
			transition: transform bs-transition-duration bs-transition-function-timing;
		}
	}

	[aria-expanded="true"] {
		> .{bs-prefix}c-drawer__toggle {
			> .fa {
				transform: rotate(90deg);
			}
		}
	}
}
