.{bs-prefix}p-entry-meta {
	bs-font-size-line-height(bs-base-font-size-px - 2);

	&, a {
		color: bs-color-gray;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin: 0;
		display: inline;
		padding-right: .75em;
	}
}
