.{bs-prefix}p-entry-summary {
	@extend .{bs-prefix}c-flex-media;

	&__title {
		bs-margin(0, 0, .25);
		bs-font-size-line-height(bs-base-font-size * 1.5);

		> a {
			text-decoration: none;
		}
	}

	&__content {
		bs-margin-top(.25);

		> p {
			margin: 0;
		}

		+bs-bp-md-min() {
			display: block;
		}
	}

	&--media {
		.{bs-prefix}p-entry-summary__figure {
			background-color: bs-lighter(bs-color-gray);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			align-self: flex-start;
			flex-basis: 33%;

			+bs-bp-md-min() {
				flex-basis: 25%;
			}

			&::before {
				content: '';
				display: block;
				padding-top: 75%;
			}
		}
	}
}
