.{_prefix}p-entry {
	&__header {
		_margin-bottom(2);
	}

	&__title {
		_margin-bottom(.5);
		_font-size-line-height(_base-font-size * 2);
		font-weight: bold;
	}

	> .{_prefix}p-response {
		_margin(2, 0, 0);
		border-top: 1px solid _light(_color-gray);
		_padding(1, 0, 0);

		> .{_prefix}p-trackbacks {
			_margin(2, 0, 0);
		}
	}
}
