.{_prefix}p-entry-meta {
	_font-size-line-height(_base-font-size-px - 2);

	&, a {
		color: _color-gray;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin: 0;
		display: inline;
		padding-right: .75em;
	}
}
