.{bs-prefix}p-entries {
	list-style: none;
	bs-margin(0, 0, -1.5);
	padding: 0;

	&__item {
		bs-margin(0, 0, 1.5);
		padding: 0;

		> a {
			display: block;
			color: bs-color-text;
			text-decoration: none;
			bs-transition-all();

			+bs-hover() {
				opacity: .8;
			}
		}
	}
}
