.{_prefix}p-entry-summary {
  @extend .{_prefix}c-flex-media;

  &__title {
    _margin(0, 0, .25);
    _font-size-line-height(_base-font-size * 1.5);

    > a {
      text-decoration: none;
    }
  }

  &__content {
    _margin-top(.25);

    > p {
      margin: 0;
    }

    +_media-min(md) {
      display: block;
    }
  }

  &--media {
    .{_prefix}p-entry-summary__figure {
      background-color: _lighter(_color-gray);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      align-self: flex-start;
      flex-basis: 33%;

      +_media-min(md) {
        flex-basis: 25%;
      }

      &::before {
        content: '';
        display: block;
        padding-top: 75%;
      }
    }
  }
}
