.{_prefix}p-footer-nav {
  .menu {
    _list-unstyled();
  }

  .menu-item {
    display: block;

    > a {
      display: block;
      _padding(.5);
      text-align: center;
      text-decoration: none;
    }

    +_media-min(md) {
      display: inline-block;

      _margin(0, .5, 0, 0);
      padding: 0;

      > a {
        display: inline-block;
        padding: 0;
      }
    }
  }
}
