.{bs-prefix}p-global-nav {
	.{bs-prefix}c-menu__submenu {
		background-color: rgba(bs-color-black, .9);
	}

	.{bs-prefix}c-menu__subitem {
		bs-font-size-line-height(bs-base-font-size-px - 2);

		+bs-hover() {
			background-color: rgba(#fff, .05);
		}

		> a {
			color: #fff;
		}
	}
}
