.{_prefix}p-global-nav {
	.{_prefix}c-menu__submenu {
		background-color: rgba(_color-black, .9);
	}

	.{_prefix}c-menu__subitem {
		_font-size-line-height(_base-font-size-px - 2);

		+_hover() {
			background-color: rgba(#fff, .05);
		}

		> a {
			color: #fff;
		}
	}
}
