.{bs-prefix}p-widget {
	&__title {
		bs-margin(0, 0, .25, 0);
		bs-font-size-line-height(bs-base-font-size * 1.25);
	}

	&.widget_recent_entries,
	&.widget_recent_comments,
	&.widget_archive,
	&.widget_categories,
	&.widget_meta,
	&.widget_pages,
	&.widget_nav_menu {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			> li {
				margin: 0;
				padding: 0;

				li { padding-left: 1em; }
				li li { padding-left: 2em; }
				li li li { padding-left: 3em; }
				li li li li { padding-left: 4em; }
				li li li li li { padding-left: 5em; }

				ul {
					ul { margin-left: -1em; }
					ul ul { margin-left: -2em; }
					ul ul ul { margin-left: -3em; }
					ul ul ul ul { margin-left: -4em; }
				}
			}
		}
	}

	&.widget_recent_entries {
		.post-date {
			display: block;
			color: bs-color-gray;
			bs-font-size-line-height(bs-base-font-size-px - 2);
		}
	}

	&.widget_calendar {
		table {
			width: 100%;

			caption {
				bs-font-size-line-height(14px);
				font-weight: bold;
				bs-padding(0, 0, .5);
				letter-spacing: .2em;
			}

			th, td {
				bs-font-size-line-height(12px);
				bs-padding(.25, .5);
			}

			thead th, tbody td {
				text-align: center;

				> a {
					display: inline-block;
					background-color: bs-lighter(bs-color-gray);
					border-radius: 2px;
					color: bs-color-text;
					width: 24px;
					margin: -2px -5px;
					padding: 2px 0;
					text-decoration: none;
					bs-transition-all();

					+bs-hover() {
						opacity: .8;
					}
				}
			}

			tfoot {
				#prev {
					text-align: left;
				}

				#next {
					text-align: right;
				}

				a {
					color: bs-color-text;
				}
			}
		}

		#next {
			text-align: right;
		}
	}

	&.widget_tag_cloud {
		a {
			mimizuku-fa("\f02b");
			background-color: bs-lightest(bs-color-gray);
			border: 1px solid bs-lighter(bs-color-gray);
			border-radius: 3px;
			color: bs-color-gray;
			bs-font-size-line-height(12px);
			margin: 4px 0 0;
			padding: 1px 6px;
			text-decoration: none;
			bs-transition-all();

			+bs-hover() {
				opacity: .8;
			}

			&::before {
				margin-right: 3px;
			}
		}
	}
}
