.alignleft {
  _margin-right(1);
  float: left;

  img&, > img {
    margin-top: _between-lines;
  }
}

.alignright {
  _margin-left(1);
  float: right;

  img&, > img {
    margin-top: _between-lines;
  }
}

.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
