.{_prefix}c-drawer {
  &__body {
    z-index: 100000;
  }

  &__item, &__subitem {
    > a {
      color: #fff;

      +_hover() {
        color: #ccc;
      }
    }
  }

  &__toggle {
    > .fa {
      color: #fff;
      transition: transform _transition-duration _transition-function-timing;
    }

    &[aria-expanded="true"] {
      > .fa {
        transform: rotate(90deg);
      }
    }
  }
}
