.{_prefix}c-entry {
  &__header {
    _margin-bottom(1);
  }

  &__title {
    _margin-bottom(.25);
    _font-size-line-height(_base-font-size * 2);
    font-weight: bold;
  }

  &__content {
    _margin-between-children();
  }
}
