.{_prefix}l-main {
  > .{_prefix}p-response {
    _margin(1, 0, 0);
    border-top: 1px solid _light(_color-gray);
    _padding(1, 0, 0);

    > .{_prefix}p-trackbacks {
      _margin(1, 0, 0);
    }
  }
}
