.{_prefix}c-entries {
  _list-unstyled();

  &__item {
    > a {
      display: block;
      color: _color-text;
      text-decoration: none;
    }
  }

  .{_prefix}c-entry {
    &__header {
      _margin-bottom(0);
    }

    > .{_prefix}c-flex-media {
      > .{_prefix}c-flex-media__figure {
        background-color: _lighter(_color-gray);

        &::before {
          content: '';
          display: block;
          padding-top: 75%;
        }

        +_media-min(md) {
          flex-basis: 25%;
        }
      }
    }
  }
}
