.{_prefix}p-comment {
  @extend .{_prefix}c-media;

  &__meta {
    _margin(0, 0, 1);
  }

  &__reply {
    a {
      @extend $_btn;
      _margin(1, 0, 0);
      _font-size-line-height(_base-font-size-px - 2);
      _padding(.25rem, 1rem);
    }
  }
}
