.{_prefix}p-comments {
  &__title {
    _margin(0, 0, 1);
    _font-size-line-height(_base-font-size-px * _h3-font-size-scale);
    font-weight: bold;
  }

  &__list {
    _list-unstyled();
    _margin(0, 0, 1);
  }

  .children {
    _list-unstyled();
    _margin(1, 0, 0);
    _padding(0, 0, 0, 1);
  }

  &__item {
    _margin(1, 0, 0);

    &:first-child {
      margin-top: 0;
    }
  }

  &__form {
    .required {
      color: _color-red;
    }

    label {
      display: block;
      margin-bottom: 4px;
    }

    .{_prefix}c-form-control {
      display: block;
      width: 100%;
    }
  }
}
