@charset 'utf-8';

/*!
Theme Name: Mimizuku
Theme URI: https://github.com/inc2734/mimizuku/
Author: inc2734
Author URI: http://2inc.org
Description: Minizuku is a WordPress theme to develop the child theme.
Version: 0.1.1
License: GPLv2 or later
License URI: license.txt
*/

bs-h1-font-size-scale = 1;
bs-h2-font-size-scale = 2;
bs-h3-font-size-scale = 1.5;
bs-h4-font-size-scale = 1.25;
bs-h5-font-size-scale = 1;
bs-h6-font-size-scale = 1;

@import '../packages/getbasis/src/stylus/basis';

@import 'core/*';
@import 'foundation/*';
@import 'layout/*';
@import 'object/*';
