.#{$bs-prefix}c-entry-summary {
	&__title {
		@include bs-font-size-line-height($bs-base-font-size * 1.5);
	}

	&__content {
		> p {
			margin: 0;
		}

		@include bs-bp-md-min() {
			display: block;
		}
	}

	&--media {
		.#{$bs-prefix}c-entry-summary__figure {
			background-color: bs-lighter($bs-color-gray);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			align-self: flex-start;
			flex-basis: 33%;

			@include bs-bp-md-min() {
				flex-basis: 25%;
			}

			&::before {
				content: '';
				display: block;
				padding-top: 75%;
			}
		}
	}
}
