.#{$_prefix}c-drawer {
  z-index: 100000;

  &__body {
    z-index: 100000;
  }

  &__toggle {
    @include _transition(transform);

    &[aria-expanded="true"] {
      transform: rotate(90deg);
    }
  }

  &__item {
    @include _padding(.5, .5, 0);
  }

  &__submenu {
    @include _margin-right(-.5);
  }
}
