//
// Heading element font size scale;
// @type  int
//
_h1-font-size-scale ?= 1;
_h2-font-size-scale ?= 2;
_h3-font-size-scale ?= 1.5;
_h4-font-size-scale ?= 1.25;
_h5-font-size-scale ?= 1;
_h6-font-size-scale ?= 1;

//
// Heading element margin coefficient;
// @type  int
//
_h1-margin-top    ?= 0;
_h1-margin-bottom ?= 0;
_h2-margin-top    ?= 2;
_h2-margin-bottom ?= 1;
_h3-margin-top    ?= 1.75;
_h3-margin-bottom ?= 1;
_h4-margin-top    ?= 1.75;
_h4-margin-bottom ?= 1;
_h5-margin-top    ?= 1;
_h5-margin-bottom ?= .5;
_h6-margin-top    ?= 1;
_h6-margin-bottom ?= .5;
