//
// Heading element font size scale;
// @type  int
//
bs-h1-font-size-scale ?= 1;
bs-h2-font-size-scale ?= 2;
bs-h3-font-size-scale ?= 1.5;
bs-h4-font-size-scale ?= 1.25;
bs-h5-font-size-scale ?= 1;
bs-h6-font-size-scale ?= 1;

//
// Heading element margin coefficient;
// @type  int
//
bs-h1-margin-top    ?= 0;
bs-h1-margin-bottom ?= 0;
bs-h2-margin-top    ?= 2;
bs-h2-margin-bottom ?= 1;
bs-h3-margin-top    ?= 1.75;
bs-h3-margin-bottom ?= 1;
bs-h4-margin-top    ?= 1.75;
bs-h4-margin-bottom ?= 1;
bs-h5-margin-top    ?= 1;
bs-h5-margin-bottom ?= .5;
bs-h6-margin-top    ?= 1;
bs-h6-margin-bottom ?= .5;
